/* *, ::before, ::after {
  padding: 0;
  margin: 0;
} */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

blockquote {
  margin: 0;
}

cite {
  font-style: normal;
}

textarea {
  resize: none;
}

a {
  color: inherit;
  text-decoration: inherit;
}

div,
nav,
ul {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: normal;
  font-style: normal;
  background-color: #0f1624;
  color: #fff;
}

.wrapper-outer {
  padding: 0 20px;
}

.wrapper-inner {
  margin: 0 auto;
}

.main-flex {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.plain-text {
  color: #929eb0;
}

.socials {
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socials > a,
.socials img {
  width: 25px;
  height: 25px;
}

.button button {
  width: 156px;
  height: 55px;
  border-radius: 43.598px;
  border: none;
  background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease, transform 0.2s ease;
}
.button button:hover {
  background-image: linear-gradient(270deg, #31cbe5 0%, #8796ef 66.67%, #b27bf4 100%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.5);
  transform: scale(1.05);
}
.button button:active {
  background-image: linear-gradient(270deg, #008fa9 0%, #4b5ab3 66.67%, #6c35ae 100%);
  box-shadow: 0px 10px 30px 0px rgba(147, 94, 214, 0.35);
  transform: scale(0.95);
}

.section-title {
  font-size: 20px;
  font-weight: 600;
}

.section-content {
  padding-top: 30px;
}

@media (min-width: 768px) {
  .wrapper-inner {
    max-width: 750px;
  }
  body {
    font-size: 18px;
  }
  .main-flex {
    display: flex;
    flex-direction: column;
    gap: 200px;
  }
  .socials {
    width: 127px;
  }
  .socials > a,
  .socials img {
    width: 27px;
    height: 27px;
  }
  .button button {
    width: 226px;
    height: 78px;
    font-weight: 600;
  }
  .section-title {
    font-size: 46px;
  }
  .section-content {
    padding-top: 65px;
  }
}
@media (min-width: 992px) {
  .wrapper-inner {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .wrapper-inner {
    max-width: 1170px;
  }
}
.menu {
  padding-top: 40px;
}
.menu__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 30px;
  align-items: center;
}
.menu__logo {
  font-size: 24px;
}
.menu__list {
  margin: 0 auto;
  width: 100%;
}
.menu__list > ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 470px) {
  .menu__list > ul {
    justify-content: flex-start;
    gap: 50px;
  }
}
@media (min-width: 768px) {
  .menu {
    height: 137px;
    padding-top: 46px;
  }
  .menu__logo {
    font-size: 30px;
  }
  .menu__socials {
    order: 3;
  }
  .menu__container {
    flex-wrap: nowrap;
  }
  .menu__logo {
    order: 1;
  }
  .menu__list {
    order: 2;
    width: 464px;
    padding: 0 25px;
  }
  .menu__list > ul {
    justify-content: space-between;
    gap: 0;
    margin: 0 auto;
  }
}
@media (min-width: 992px) {
  .menu__list {
    order: 2;
    width: 444px;
    padding: 0 0;
  }
  .menu__list ul li {
    position: relative;
  }
  .menu__list ul li a::after {
    content: "";
    position: absolute;
    left: -1px;
    right: -1px;
    bottom: -3px;
    height: 1.99px;
    background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
    border-radius: 2px;
  }
  .menu__list ul li a:hover::after {
    transform: scaleX(1);
  }
}

.hero {
  padding: 60px 0;
}
.hero__container {
  width: 260px;
  margin: 0 auto;
}
.hero__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
}
.hero__title span {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.hero__descriptor {
  margin-bottom: 30px;
}
.hero__photo {
  margin-bottom: 46px;
  width: 207px;
  height: 207px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
  border-radius: 50%;
  box-shadow: 0px 20px 50px 0px rgba(0, 178, 255, 0.25);
  position: relative;
}
.hero__photo > img {
  width: 205px;
  border-radius: 50%;
  filter: brightness(1.2) saturate(0%);
}
.hero__photo::before {
  content: "";
  display: block;
  width: 367px;
  height: 367px;
  position: absolute;
  background: url("../img/big-ellipse.svg") center/cover no-repeat;
  top: 2px;
  left: -200px;
  z-index: -2;
}
.hero__photo::after {
  content: "";
  display: block;
  width: 113px;
  height: 113px;
  position: absolute;
  background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
  top: 128px;
  left: 147px;
  border-radius: 50%;
  z-index: -1;
  filter: drop-shadow(0px 10px 30px rgba(0, 178, 255, 0.35));
}
@media (min-width: 768px) {
  .hero {
    padding: 110px 0;
  }
  .hero__container {
    width: 100%;
  }
  .hero__title {
    font-size: 64px;
    max-width: 685px;
    margin-bottom: 34px;
  }
  .hero__descriptor {
    max-width: 720px;
    margin-bottom: 60px;
  }
  .hero__photo {
    margin-bottom: 60px;
    width: 301px;
    height: 301px;
  }
  .hero__photo > img {
    width: 299px;
  }
  .hero__photo::before {
    content: "";
    width: 532px;
    height: 532px;
    top: 62px;
    left: -276px;
  }
  .hero__photo::after {
    width: 164px;
    height: 164px;
    top: 186px;
    left: 200px;
  }
}
@media (min-width: 1200px) {
  .hero {
    padding-top: 165px;
  }
  .hero__container {
    position: relative;
  }
  .hero__descriptor {
    position: absolute;
    top: 226px;
    left: 0;
  }
  .hero__photo {
    position: absolute;
    top: -55px;
    right: 65px;
  }
  .hero__button {
    position: absolute;
    top: 340px;
    left: 0;
  }
}

.projects {
  margin-top: -10px;
}
.projects__container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.projects .project {
  min-width: 290px;
  max-width: 570px;
  background-image: linear-gradient(321.62deg, #13adc7 9.27%, #6978d1 59.96%, #945dd6 85.3%);
  border-radius: 25px;
  padding: 1px;
  display: flex;
}
.projects .project__content {
  background-color: #0f1624;
  border-radius: 25px;
  display: flex;
}
.projects .project__container {
  padding: 28px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: space-between;
}
.projects .project__image img {
  width: 100%;
}
.projects .project__header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
}
.projects .project__controls {
  display: inline-flex;
  gap: 5px;
}
.projects .project__button_l button {
  width: 146px;
}
.projects .project__button_r button {
  width: 109px;
  background-color: #0f1624;
  background-image: none;
  box-shadow: none;
  border: 1px solid #fff;
}
@media (max-width: 355px) {
  .projects .project__container {
    padding: 14px;
  }
}
@media (min-width: 768px) {
  .projects__container {
    gap: 30px;
  }
  .projects .project__container {
    gap: 45px;
    padding: 43px;
  }
  .projects .project__header {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .projects .project__text-content {
    padding-bottom: 25px;
  }
  .projects .project__controls {
    gap: 10px;
  }
  .projects .project__button_l button {
    width: 215px;
  }
  .projects .project__button_r button {
    width: 255px;
  }
}
@media (min-width: 1200px) {
  .projects {
    margin-top: 0;
    padding-top: 150px;
  }
}

.techs__container {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
.techs .tech-item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.techs .tech-item__description {
  display: flex;
  justify-content: space-between;
}
.techs .tech-item__title, .techs .tech-item__level {
  font-size: 12px;
  font-weight: 500;
}
.techs .tech-item__bar-outer {
  height: 10px;
  border-radius: 35px;
  background-color: #162950;
}
.techs .tech-item__bar-inner {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  border-radius: 35px;
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
}
@media (min-width: 768px) {
  .techs__container {
    gap: 65px;
  }
  .techs .tech-item {
    gap: 13px;
  }
  .techs .tech-item__title {
    font-size: 30px;
    font-weight: 600;
  }
  .techs .tech-item__level {
    font-size: 18px;
    font-weight: 600;
  }
  .techs .tech-item__bar-outer {
    height: 24px;
    border-radius: 35.812px;
  }
}

.add__item-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.add__item {
  display: block;
  width: 45%;
  font-size: 16px;
  font-weight: 600;
}
.add__item::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
  border-radius: 50%;
  margin-right: 10px;
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
}
@media (max-width: 360px) {
  .add__item {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .add__item-list {
    row-gap: 40px;
  }
  .add__item {
    width: 30%;
    font-size: 30px;
  }
  .add__item::before {
    width: 24px;
    height: 24px;
    margin-right: 24px;
  }
}
.about {
  padding-bottom: 92px;
}
.about__timeline {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.about .item {
  flex: 0 1 260px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about .item__year {
  font-size: 16px;
  font-weight: 600;
}
.about .item__separator {
  width: 12px;
  height: 12px;
  background-image: linear-gradient(326.6deg, #13adc7 21.25%, #6978d1 58.73%, #945dd6 77.47%);
  box-shadow: 0px 10px 30px 0px rgba(0, 178, 255, 0.35);
  border-radius: 50%;
  position: relative;
}
.about .item__separator::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 156px;
  height: 2px;
  background-color: #fff;
  top: 5px;
  z-index: -1;
  left: 3px;
}
.about .item__text {
  color: #929eb0;
}
.about .item:last-of-type .item__separator::after {
  display: none;
}
@media (min-width: 768px) {
  .about .item {
    gap: 23px;
  }
  .about .item__year {
    font-size: 30px;
  }
  .about .item__separator {
    width: 24px;
    height: 24px;
  }
  .about .item__separator::after {
    width: 191px;
    height: 5px;
    top: 9.5px;
    left: 5px;
  }
}
@media (min-width: 992px) {
  .about .item__separator::after {
    width: 247px;
  }
}
@media (min-width: 1200px) {
  .about .item__separator::after {
    width: 305px;
  }
}
@media (max-width: 767px) {
  .about__timeline {
    flex-direction: column-reverse;
    overflow: hidden;
  }
  .about .item {
    flex-basis: auto;
    flex-direction: row;
    gap: 27px;
  }
  .about .item__year {
    display: block;
    flex: 0 0 38px;
  }
  .about .item__separator {
    flex: 0 0 12px;
  }
  .about .item__separator::after {
    transform: rotate(90deg);
    width: 176px;
    top: -88px;
    left: -82px;
  }
  .about .item__text {
    max-width: 214px;
    min-width: 176px;
  }
}

.contacts {
  padding-bottom: 60px;
}
.contacts__container {
  display: flex;
  justify-content: space-between;
}
.contacts__cta {
  background: linear-gradient(270deg, #13adc7 0%, #6978d1 66.67%, #945dd6 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media (max-width: 768px) {
  .contacts__container {
    flex-wrap: wrap;
    max-width: 440px;
    row-gap: 40px;
    -moz-column-gap: 26px;
         column-gap: 26px;
  }
  .contacts__cta {
    order: 1;
  }
  .contacts__socials {
    width: 131px;
    order: 2;
  }
  .contacts__mail {
    order: 3;
  }
  .contacts__telegram {
    order: 4;
  }
}