
$fw-medium: 500;
$fw-sbold: 600;

$col-white: #fff;
$col-back-dark: #0F1624;
$col-grey: #929EB0;
$col-neon: #00B2FF;

$gradient-1: linear-gradient(270deg, #13ADC7 0%, #6978D1 66.67%, #945DD6 100%);
$gradient-2: linear-gradient(321.62deg, #13ADC7 9.27%, #6978D1 59.96%, #945DD6 85.3%);
$gradient-3: linear-gradient(326.6deg, #13ADC7 21.25%, #6978D1 58.73%, #945DD6 77.47%);

$circle-shadow: 0px 7px 30px rgba(19, 173, 199, 0.3);
$button-shadow: 0px 10px 30px rgba(0, 178, 255, 0.35);

